<template>
  <div class="header">
    <header>
      <a id="skipMain" href="#main" class="skip-main sr-only sr-only-focusable">Skip to main content</a
      >
      <div class="header__title">
        <nuxt-link to="/">
          <a href="javascript:void(0)">
            <svg class="mr-10" style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 40.6 39.571">
              <g id="组_11549" data-name="组 11549" transform="translate(-146.5 -918.852)">
                <path id="路径_3642" data-name="路径 3642" d="M1381.246,1255.305c-4.194-.555-7.345-4.814-7.978-5.728-.03-.047-.061-.093-.094-.138l-.023-.035h0a2.426,2.426,0,0,0-4.012,2.719h0l.022.032a2.514,2.514,0,0,0,.189.264c3.878,5.255,11.005,5.915,11.005,5.915,13.37.972,16.868-9.9,16.868-9.9C1391.935,1255.834,1385.949,1255.927,1381.246,1255.305Z" transform="translate(-1210.566 -311.099)" fill="#f6940e" />
                <path id="路径_3644" data-name="路径 3644" d="M1396.916,1273l0,0a2.228,2.228,0,1,1,3.175-3.128l0,0,.011.015a2.227,2.227,0,0,1,.255.315c.949,1.126,4.364,4.748,9,4.747,5.489,0,10.185-5.424,10.764-7.95a12.935,12.935,0,0,1-8.975,10.066C1403.078,1279.694,1396.916,1273,1396.916,1273Z" transform="translate(-1234.853 -327.488)" fill="#de2848" />
                <path id="路径_3645" data-name="路径 3645" d="M1487.921,1094.233a13.286,13.286,0,0,1,1.729,11.843c-2.318,6.614-11.438,8.065-11.438,8.065s9.386.8,14.109-7.19-.278-15.723-.739-16.154h0a2.509,2.509,0,0,0-4.441,1.6A3.3,3.3,0,0,0,1487.921,1094.233Z" transform="translate(-1307.235 -171.036)" fill="#f6940e" />
                <path id="路径_3646" data-name="路径 3646" d="M1281.971,1167.446c4.2-.537,8.333,2.775,9.178,3.5q.061.057.126.109l.031.028,0,0a2.426,2.426,0,0,0,3.183-3.655l0,0-.03-.025a2.373,2.373,0,0,0-.25-.206c-5.094-4.089-12.152-2.9-12.152-2.9-13.173,2.481-13.774,13.884-13.774,13.884C1271.5,1169.668,1277.266,1168.048,1281.971,1167.446Z" transform="translate(-1121.785 -236.618)" fill="#0072b4" />
                <path id="路径_3647" data-name="路径 3647" d="M1294.242,1198.366c-1.154-.783-4.9-3.642-5.361-8.01-.541-5.171,4.1-10.132,6.426-10.927a12.253,12.253,0,0,0-8.6,9.451c-1.688,7.864,5.232,13.008,5.232,13.008v0a2.111,2.111,0,0,0,3.357-2.193A2.4,2.4,0,0,0,1294.242,1198.366Z" transform="translate(-1137.828 -250.136)" fill="#6dac24" />
                <path id="路径_3648" data-name="路径 3648" d="M1295.516,1145.741l0,0a2.228,2.228,0,1,1-2.269,3.836v0l-.015-.012a2.209,2.209,0,0,1-.327-.239c-1.205-.845-5.433-3.474-9.915-2.286-5.306,1.406-8.458,7.849-8.372,10.439a12.934,12.934,0,0,1,6.1-12.027C1287.845,1140.842,1295.516,1145.741,1295.516,1145.741Z" transform="translate(-1127.333 -218.377)" fill="#6dac24" />
                <path id="路径_3649" data-name="路径 3649" d="M1287.7,1224.1a13.285,13.285,0,0,1-4.7-11.006c.549-6.987,8.994-10.722,8.994-10.722s-9.278,1.631-11.8,10.56,4.291,15.129,4.847,15.428h0a2.509,2.509,0,0,0,3.883-2.684S1288.823,1225.078,1287.7,1224.1Z" transform="translate(-1131.812 -270.407)" fill="#0072b4" />
                <path id="路径_3643" data-name="路径 3643" d="M1500.623,1143.542c.916,1.052,3.81,4.775,3.134,9.115-.8,5.138-6.559,8.745-9.007,8.92a12.252,12.252,0,0,0,10.727-6.938c3.644-7.171-1.73-13.913-1.73-13.913h0a2.111,2.111,0,0,0-3.806,1.261A2.4,2.4,0,0,0,1500.623,1143.542Z" transform="translate(-1321.845 -215.194)" fill="#de2848" />
              </g>
            </svg>
            <strong>PlayerAuctions</strong>
          </a>
        </nuxt-link>
      </div>
    </header>
  </div>
</template>
<style>
  @import "~/assets/css/base.css";
  @import "~/assets/css/style.css";
  @import "~/assets/css/reset-bootrap.css";
</style>
<script>
  export default {
    head: {
      script: [
        {
          src: "./iconfont.js",
        },
      ],
    }
  }
</script>
