<template>
  <div>
    <HeaderAuth/>
    <div class="main login">
      <section class="container-fluid container container-fluid-flex">
        <div id="login_left" class="login-left">
          <h1 class="h4">Bạn là người mới?
            <nuxt-link to="/register">Đăng kí</nuxt-link>
            ngay!
          </h1>
          <div class="d-flex justify-content-between">
            <a
              class="login-top--register--btn d-flex vertical-align-center justify-content-around mr-10"
              href="register">
              <div class="txt-gray">
                <span>Tôi muốn</span>
                <p class="h2">MUA</p>
              </div>
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-icon_as_buy"></use>
              </svg>
            </a>
            <a
              class="login-top--register--btn d-flex justify-content-around vertical-align-center"
              href="register">
              <div class="txt-gray">
                <span>Tôi muốn</span>
                <p class="h2">BÁN</p>
              </div>
              <svg class="icon txt-success" aria-hidden="true">
                <use xlink:href="#icon-sell"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="login-right">
          <form id="loginForm" name="loginForm"
                @submit="submitForm"
                action="/"
                method="post"
                novalidate="true">
            <h1 class="h2 mt-0 mb-30 text-center">Đăng nhập</h1>
            <div class="form-group spec group">
              <label for="login__alias" class="login__username__label">
                <svg
                  class="icon" aria-hidden="true" role="img" focusable="false"
                  aria-labelledby="icon-person">
                  <title id="icon-person">person</title>
                  <use xlink:href="#icon-person"></use>
                </svg>
              </label>
              <input
                id="login__alias" v-model="username" class="form-control pl-40" type="text"
                aria-label="Tên tài khoản hoặc Email" name="username" placeholder="Tên tài khoản hoặc Email"
                :class="[!isValidUsername ? 'is-valid' : '']" required
              />
            </div>
            <div class="form-group spec group mb-26">
              <label for="login__password" class="login__password__label">
                <svg
                  class="icon" aria-hidden="true" role="img" focusable="false"
                  aria-labelledby="icon-lock">
                  <title id="icon-lock">lock</title>
                  <use xlink:href="#icon-lock"></use>
                </svg>
              </label>
              <input
                id="login__password" v-model="password" name="password"
                class="form-control pl-40" type="password" aria-label="Password"  placeholder="Mật khẩu"
                :class="[!isValidPassword ? 'is-valid' : '']" required/>
            </div>
            <input id="recaptchaToken" class="hide" value="" type="hidden"/>
            <div class="form-group">
              <button id="submit" type="submit" class="btn btn-block btn-warning btn-shadow">
                ĐĂNG NHẬP
              </button>
            </div>
            <div class="form-group">
              <div class="justify-content-between">
                <div class="txt-right mb-5">
                  <a href="recoverPwd">Quên mật khẩu?</a>
                </div>
                <p v-if="msg.length">
                  <span id="errorMsg" class="text-error" :class="{'hide-msg': !isValidPassword && !isValidUsername}">
                      {{ msg }}
                  </span>
                </p>
              </div>
              <p class="clear mb-0"></p>
            </div>
            <div class="form-group text-center">
              <p class="login-center--border txt-gray fs-16"><span>hoặc</span></p>
            </div>
            <div class="form-group d-flex flex-column mb-24 login-social-accounts">
              <button type="button" class="google svg-google" title="Google">
                <span></span>
                <strong>Tiếp tục với Google</strong>
              </button>
              <button ng-disabled="!IsFackBook" type="button" class="facebook svg-facebook" title="Facebook">
                <div>
                  <span></span>
                </div>
                <strong>Tiếp tục với Facebook</strong>
              </button>

              <div class="login-social-accounts-more">
                <div id="additionalLogin" class="login-social-accounts--hide animate__backInDown">
                  <button
                    type="button" class="discord svg-discord" title="Discord" aria-hidden="true"
                    tabIndex="-1">
                    <span></span>
                    <strong>Tiếp tục với Discord</strong>
                  </button>
                  <button type="button" class="twitch svg-twitch" title="Twitch" aria-hidden="true" tabIndex="-1">
                    <span></span>
                    <strong>Tiếp tục với Github</strong>
                  </button>
                </div>
                <button
                  id="toggleLogin" type="button" aria-expanded="true" aria-controls="additionalLogin"
                  aria-label="More login options">
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-arrowon"></use>
                  </svg>
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <FooterAuth/>
  </div>

</template>

<style scoped>
  @import "~/assets/css/login.css";
</style>

<script>
export default {
  name: 'LoginPage',
  layout: 'default',
  head: {
    script: [
      {
        src: "./iconfont.js",
      },
    ],
  },
  data() {
    return {
      msg: [],
      isValidUsername: true,
      isValidPassword: true,
      username: '',
      password: ''
    }
  },
  watch: {
    username(value) {
      // binding this to the data value in the email input
      this.username = value;
      this.validUsername(value);
    },
    password(value) {
      this.password = value;
      this.validPassword(value);
    }
  },
  methods: {
    submitForm(e) {
      if(this.msg === []) {
        //
      } else {
        this.msg = 'Vui lòng nhập đúng';
      }
      e.preventDefault();
    },
    validUsername(username) {
      if (/^(?=.{5,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$/.test(username)) {
        this.msg = '';
        this.isValidUsername = false;
      } else {
        this.isValidUsername = true;
        this.msg = 'Tên tài khoản không đúng định dạng';
      }
    },
    validPassword(password) {
      if (/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/.test(password))
      {
        this.msg = '';
        this.isValidPassword = false;
      } else {
        this.isValidPassword = true;
        this.msg = 'Mật khẩu không đúng định dạng';
      }
  }
}
}
</script>
