<template>
  <div id="registerCtrl" class="main">
    <HeaderAuth/>
    <section class="content__reg container-fluid container">
      <h1 class="h2 mb-30 text-center">Đăng kí </h1>
      <p class="text-center mb-15 txt-gray">Bạn có tài khoản? <nuxt-link to="login">Đăng nhập</nuxt-link> </p>
      <form id="regForm" name="regForm" class="reg__form" @submit="submitForm" novalidate autocomplete="off">
        <div class="form-group spec group">
          <label for="username" class="fill">
            <svg class="icon" aria-hidden="true" role="img" focusable="false" aria-labelledby="icon-person">
              <title id="icon-person">avatar</title>
              <use xlink:href="#icon-person"></use>
            </svg>
          </label>
          <input
            id="username" v-model="username" type="text" class="form-control pl-40" aria-label="Tên tài khoản" name="username"
            maxlength="20" placeholder="Tên tài khoản"
            ng-class="{'is-invalid': regForm.username.$invalid && regForm.username.$dirty}" required
            autocomplete="username">
        </div>
        <div class="form-group spec group">
          <label for="email" class="fill">
            <svg class="icon" aria-hidden="true" role="img" focusable="false" aria-labelledby="icon-email">
              <title id="icon-email">email</title>
              <use xlink:href="#icon-email"></use>
            </svg>
          </label>
          <input
            id="email" v-model="email" type="email" class="form-control pl-40" aria-label="Email" name="email"
            maxlength="130" placeholder="Email"
            ng-class="{'is-invalid': regForm.email.$invalid && regForm.email.$dirty && regForm.email.$error}"
            required autocomplete="email">
        </div>
        <div class="form-group spec group">
          <label for="login__password" class="fill">
            <svg class="icon" aria-hidden="true" role="img" focusable="false" aria-labelledby="icon-lock">
              <title id="icon-lock">lock</title>
              <use xlink:href="#icon-lock"></use>
            </svg>
          </label>
          <input
            id="login__password" v-model="password" type="password" class="form-control pl-40" aria-label="Password"
            name="current-password" minlength="8" placeholder="Mật khẩu"
            ng-class="{'is-invalid': regForm.password.$invalid && regForm.password.$dirty}" required
            autocomplete="new-password">
        </div>
        <hr>
        <div class="form-group d-flex">
          <div class="contry-picker-box">
            <input type="text" class="form-control" aria-label="Loading" ng-if="!countryList" placeholder="Loading...">
            <pa-select ng-model="country" countries="countryList"></pa-select>
          </div>
          <div class="input-group">
            <input
              id="phone" type="text" class="form-control" ng-model="phone" aria-label="Phone number"
              placeholder="Phone number"
              ng-class="{'is-invalid': regForm.reg__phone.$invalid && regForm.reg__phone.$dirty}" required
              autocomplete="tel"/>
          </div>
        </div>
        <div class="form-group spec group phone-group">
          <label class="fill">
            <svg class="icon" aria-hidden="true" role="img" focusable="false" aria-labelledby="icon-security">
              <title id="icon-security">security</title>
              <use xlink:href="#icon-security"></use>
            </svg>
          </label>
          <div class="input-group">
            <input
              type="text" class="form-control pl-40" aria-label="PIN Code" name="pinCode" ng-model="verifyCode"
              placeholder="PIN Code" ng-class="{'is-invalid': regForm.pinCode.$invalid && regForm.pinCode.$dirty}"
              required autocomplete="off">
            <div class="input-group-append">
              <input
                id='submit' class="input-group-text btn btn-warning btn-send-warning" type="submit"
                ng-value="description" aria-label="Send" ng-disabled="show" ng-class="{disabled: show}">
            </div>
          </div>
        </div>
        <hr>
        <div class="row form-row">
          <div class="form-group spec group col col-xs-6">
            <label class="fill">
              <svg class="icon" aria-hidden="true" role="img" focusable="false" aria-labelledby="icon-person1">
                <title id="icon-person1">person</title>
                <use xlink:href="#icon-person"></use>
              </svg>
            </label>
            <input
              type="text" class="form-control pl-40" aria-label="First Name" name="firstName" ng-model="firstName"
              maxlength="20" placeholder="First Name"
              ng-class="{'is-invalid': regForm.firstName.$invalid && regForm.firstName.$dirty}" required
              autocomplete="off">
          </div>
          <div class="form-group spec group col col-xs-6">
            <label class="fill">
              <svg class="icon" aria-hidden="true" role="img" focusable="false" aria-labelledby="icon-person2">
                <title id="icon-person2">person</title>
                <use xlink:href="#icon-person"></use>
              </svg>
            </label>
            <input
              type="text" class="form-control pl-40" aria-label="Last Name" name="lastName" ng-model="lastName"
              maxlength="20" placeholder="Last Name"
              ng-class="{'is-invalid': regForm.lastName.$invalid && regForm.lastName.$dirty}" required
              autocomplete="off">
          </div>
        </div>
        <div class="row form-row">
          <div class="form-group spec group col col-xs-6">
            <label class="fill">
              <svg class="icon" aria-hidden="true" role="img" focusable="false" aria-labelledby="icon-city">
                <title id="icon-city">city</title>
                <use xlink:href="#icon-city"></use>
              </svg>
            </label>
            <input
              class="form-control pl-40" type="text" aria-label="City" name="city" ng-model="city" maxlength="30"
              placeholder="City" ng-class="{'is-invalid': regForm.city.$invalid && regForm.city.$dirty}" required
              autocomplete="off">
          </div>
          <div class="form-group spec group col col-xs-6">
            <label class="fill">
              <svg class="icon" aria-hidden="true" role="img" focusable="false" aria-labelledby="icon-home">
                <title id="icon-home">home</title>
                <use xlink:href="#icon-home"></use>
              </svg>
            </label>
            <input
              id="zipcode" class="form-control pl-40" type="text" aria-label="Zip Code" name="postalCode"
              ng-model="zipCode" maxlength="12" placeholder="Zip Code"
              ng-class="{'is-invalid': regForm.postalCode.$invalid && regForm.postalCode.$dirty}" required
              autocomplete="off">
          </div>
        </div>
        <div class="form-group spec group">
          <label class="fill">
            <svg class="icon" aria-hidden="true" role="img" focusable="false" aria-labelledby="icon-map">
              <title id="icon-map">map</title>
              <use xlink:href="#icon-map"></use>
            </svg>
          </label>
          <input
            type="text" class="form-control pl-40" aria-label="Address" name="address" ng-model="address"
            maxlength="100" placeholder="Address"
            ng-class="{'is-invalid': regForm.address.$invalid && regForm.address.$dirty}" required
            autocomplete="off">
        </div>
        <div class="row form-row">
          <fieldset class="r-pill">
            <legend class="form-group mb-4 text-center fs-16">I want to:</legend>
            <div class="form-group form-tabs">
              <div class="tabs" role="group" aria-label="want to">
                <div>
                  <input
                    id="tab-1" aria-hidden="true" class="sr-only" tabindex="-1" type="radio" name="isBuyer"
                    ng-model="isBuyer" data-ng-value="true" checked="checked">
                  <input
                    id="tab-2" aria-hidden="true" class="sr-only" tabindex="-1" type="radio" name="isBuyer"
                    ng-model="isBuyer" data-ng-value="false">
                </div>
                <div class="static">
                  <ul class="btn-group switch-btn-group d-flex" role="tablist">
                    <li
                      class="tab-1 btn btn-normal w-100" role="presentation" aria-selected="true"
                      ng-class="{'active': isBuyer}" tabindex="0">
                      <label for="tab-1"><strong>BUY</strong></label>
                    </li>
                    <li
                      class="tab-2 btn btn-normal w-100" role="presentation" aria-selected="false"
                      ng-class="{'active': !isBuyer}" tabindex="0">
                      <label for="tab-2"><strong>SELL</strong></label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
          <fieldset class="form-check justify-content-around">
            <legend class="text-center fs-16 txt-white">Send me the latest deals &amp; offers. (Required)</legend>
            <div class="left">
              <input
                id="yes" class="form-check-input" type="radio" data-ng-value="true" name="notify"
                ng-model="isMarketingOptOut" required>
              <label class="form-check-label txt-gray" for="yes">
                Yes
              </label>
            </div>
            <div class="right">
              <input
                id="no" class="form-check-input" type="radio" data-ng-value="false" name="notify"
                ng-model="isMarketingOptOut" required>
              <label class="form-check-label txt-gray" for="no">
                No
              </label>
            </div>
          </fieldset>
        </div>
        <div class="form-group mb-26">
          <div class="form-check">
            <input id="agreeCheck" class="form-check-input" type="checkbox" ng-model="agreeCheck" required>
            <label class="form-check-label txt-gray" for="agreeCheck">
              I agree to PlayerAuctions' <a
              target="_blank"
              href="https://www.playerauctions.com/help/agreement/">Terms </a> and <a
              target="_blank" href="https://www.playerauctions.com/help/policy/">Privacy</a>.
            </label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-warning btn-block">START TRADING!</button>
        </div>
        <div class="row txt-center txt-left-xs">
          <p id="errorMsg" class="text-error col-lg-12 hide-msg" ng-show="msg" ng-bind-html="msg"></p>
        </div>
        <input id="txtBlackBox" class="hide sr-only" value="" aria-hidden="true" tabindex="-1"/>
        <input id="recaptchaToken" class="hide sr-only" value="" aria-hidden="true" tabindex="-1"/>
      </form>
    </section>
    <FooterAuth/>
  </div>

</template>
<style>
  @import "~/assets/css/flags.css";
</style>
<script>
export default {
  name: 'RegisterPage',
  data() {
    return {
      msg: [],
      isValidUsername: true,
      isValidPassword: true,
      username: '',
      password: ''
    }
  },
  watch: {
    username(value) {
      // binding this to the data value in the email input
      this.username = value;
      this.validUsername(value);
    },
    password(value) {
      this.password = value;
      this.validPassword(value);
    }
  },
  methods: {
    submitForm(e) {
      if(this.msg === []) {
        //
      } else {
        this.msg = 'Vui lòng nhập đúng';
      }
      e.preventDefault();
    },
    validUsername(username) {
      if (/^(?=.{5,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$/.test(username)) {
        this.msg = '';
        this.isValidUsername = false;
      } else {
        this.isValidUsername = true;
        this.msg = 'Tên tài khoản không đúng định dạng';
      }
    },
    validPassword(password) {
      if (/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/.test(password))
      {
        this.msg = '';
        this.isValidPassword = false;
      } else {
        this.isValidPassword = true;
        this.msg = 'Mật khẩu không đúng định dạng';
      }
    }
  }
}
</script>
