<template>
  <div>
    <nuxt-link to="/">back</nuxt-link>
    <h1>redirect page {{ $route.params.redirect}}</h1>
  </div>
</template>

<script>
export default {
  name: 'RedirectPage',
  validate(ctx) {
    console.log(ctx)
    return /^(?=.{5,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$/.test(ctx.params.id)
  }
}
</script>
