html {
  font-size: inherit;
}

.text-left {
  text-align: left !important
}

.text-right {
  text-align: right !important
}

.text-center {
  text-align: center !important
}

.w-100 {
  width: 100% !important
}

.h-100 {
  height: 100% !important
}

.d-flex {
  display: flex !important
}

.d-relative {
  position: relative !important;
}

.align-center {
  align-items: center !important
}

.justify-content-between {
  justify-content: space-between !important
}

.justify-content-center {
  justify-content: center !important
}

.justify-content-around {
  justify-content: space-around !important
}

.text-warning {
  color: #FFA300 !important
}

.text-light {
  color: #fff !important
}

.text-black {
  color: #000 !important
}

.text-pl {
  color: #b3b3b3 !important
}

.form-control:focus {
  box-shadow: unset;
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
  box-shadow: unset;
}

.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23FFA300'/%3e%3c/svg%3e");
  outline: unset;
  background-color: #141922;
}

.form-check {
  display: flex;
  padding-left: 0;
}

.form-check .form-check-input {
  margin-left: 0;
}

.form-group .form-check .form-check-label {
  padding-left: .6em;
}

.flex-column {
  flex-flow: column;
}
