<template>
  <footer class="footer">
    <div class="footer-bottom clearfix">
      <div class="connect-icons-inner clearfix row justify-content-center">
        <p class="copyright col-lg-4 col-xs-12">
          Copyright @2022. All rights reserved.
        </p>
        <div class="foot-link col-lg-6 col-xs-12">
          <a class="txt-link" target="_blank" href="https://www.playerauctions.com/help/agreement/">Thỏa thuận người dùng</a
          >
          <a
            class="txt-link"
            target="_blank"
            href="https://www.playerauctions.com/help/policy/"
          >Quyền riêng tư</a
          >
        </div>
      </div>
    </div>
    <div
      id="recaptcha"
      class="g-recaptcha"
      data-sitekey=""
      data-callback="onSubmit"
      data-size="invisible"
    ></div>
  </footer>
</template>

<script>
export default {
  name: "FooterAuth"
}
</script>
