<template>
  <div class="page">
    <h1>con me may</h1>
  </div>
</template>

<script>
 export default {
   name: 'SettingPages'
 }
</script>

<style lang="scss">
.page {
  color: darkred;
}
</style>



